/* Styles for Training Page */

/* styles all viewports */
nav a {
    color: #333;
    text-decoration: none;
}

/* article section */
article {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* specific elements */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* larger screens */
@media (min-width: 768px) {
    article {
        margin: 40px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }
}
