
/* Styles for About Page */

/*  styles all viewports */


/* mobile viewport */
.mobile {
    padding: 20px;
}

/* tablet viewport */
.tablet {
    padding: 40px;
}

/* desktop viewport */
.desktop {
    padding: 60px;
	display:none;
}

/* Additional styles for specific elements */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

ol {
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* larger screens */
@media (min-width: 768px) {
    .mobile {
        padding: 40px;
		display:none;

    }
    
    .tablet {
        padding: 60px;
		display:none;

    }
    
    .desktop {
        padding: 80px;
		display:block;
    }
    
    h1 {
        font-size: 36px;
    }
    
    p {
        font-size: 18px;
    }
}
